<app-sidenav></app-sidenav>
<div class="content">
    <app-summary-header></app-summary-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{ getTotalBalance() }}</p>
                <ul>
                    <li *ngFor="let account of accounts">
                        <h4>{{ account.name }}</h4>
                        <input type="number" [(ngModel)]="account.balance">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>